<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>DokuAdmin</display-name>
  <welcome-file-list>
    <welcome-file>AccessPage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>ControllerServlet</display-name>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>servletsAndFilters.ControllerServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/login</url-pattern>
    <url-pattern>/DeleteCourse</url-pattern>
    <url-pattern>/ValidateCourse</url-pattern>
    <url-pattern>/LogOut</url-pattern>
    <url-pattern>/CreateSpecialOffer</url-pattern>
    <url-pattern>/DeleteUser</url-pattern>
    <url-pattern>/highlight</url-pattern>
  </servlet-mapping>
</web-app>