// main: ../style.scss

// ==================================================
// footer
// ==================================================
footer {
    display: block;
    width: 100%;
    padding: 50px 0;
    background-color: $black;
    color: $dark_white;
    text-align: center;
}
